<div>
  <div>
    <div >
      <h2 style="margin:3rem 0rem 0rem 2rem;">From the blog</h2>
      <p style="margin: 1rem 0rem 0rem 2rem;">Here are a few blogs that has been recently posted.</p>
    </div>
    
    {{#each blogs}}
   

    <div>
      <article style="display: flex; flex-direction: column;margin-left: 5rem;margin-top: 5rem;border: 4px black solid; border-radius: 1rem; margin-right: 5rem; background-color: lightgreen;">
        <div style="margin-left: 4px;">
          <time>{{date_created}}</time>
          <!-- <a href="#" style="text-decoration: none; margin-left: 3rem;">Marketing</a> -->
        </div>
        <div >
          <h3 style="margin-top:1rem;" >
              {{title}}
            </a>
          </h3>
          <p >{{content}}</p>
        </div>
        <div >
          <div >
            <p>
                Author: {{user.name}}
              </a>
          </div>
        </div>
      </article>
     
     
      {{/each}}

    </div>
  </div>
</div>