<form>
    <div class="mb-3" style="margin-top: 2rem;">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: lightgreen; color:black">Sign In </button>
</form>

<form>
    <div class="mb-3" style="margin-top: 4rem;">
        <label for="exampleInputPassword1" class="form-label">First name </label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Last Name </label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: lightgreen; color:black">Sign Up</button>
</form>